.header{
    text-align: center;
    color: aliceblue;
    margin: auto;
    background-image: url(../B9A1-New-Year-New-Mission/resources/Banner\ Image.png);
    height: 800px;
    width: 2000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    

}

.centre {
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 50px;
    font-weight: 800px;
    transform: translate(-50%, -50%);
    margin-top: 0;
}

.new-year{
    text-align: center;
    color: red;
    padding: 0;
}
.discount{
    font-style: inherit;
    font-size: 40px;
    font-weight: 700;
}
.new{
    font-size: 50px;
    font-weight: 40px;
    text-align: center;
}

.pic{
    text-align: center;
}



.time{
    text-align: center;
    font-family: sans-serif;
}
   
